.transac-block {
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  font-size: larger;
}
.transac-block h3 {
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
}
.form-control input {
  font-size: 1.3rem;
}

.transac-block button {
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 174, 255, 1);
  color: white;
  font-size: larger;
  cursor: pointer;
  border-radius: 4px;
}
.transac-block button:hover {
  background-color: rgba(0, 174, 255, 0.8);
}

@media screen and (max-width: 550px) {
  .transac-block {
    width: 80vw;
  }
}
