h1 {
  text-align: center;
  text-decoration: underline;
  margin: 1rem 0;
}
.container {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}
.left {
  width: 40%;
}
.right {
  width: 20%;
}

ul, li{
  width: 200%;
}
@media screen and (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
